############################
# SO (archivos temporales del sistema)
############################

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

############################
# Editores y herramientas
############################

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nbproject

############################
# Node.js / Bun / npm
############################

node_modules/
bun.lockb
package-lock.json
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

############################
# Build / distribución
############################

dist/
dist-ssr/
build/
coverage/
lib-cov/
results/

############################
# Logs / temporales
############################

logs/
*.log
*.tmp
*.out
*.pid
node.log
*.local
.tsbuildinfo
.eslintcache
.node_history

############################
# Archivos comprimidos / ejecutables / pesados
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swo
*.swp
*.swn
*.swm

############################
# Archivos sensibles
############################

.env
ssl/
